#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e {
	text-align: center;
}#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li > a {
			
			
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected:hover,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected:hover,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected:hover > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected:hover > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.selected,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.childselected,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.selected:hover,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.childselected:hover,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.selected > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.childselected > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.selected:hover > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li.childselected:hover > a,
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e > li.normal > a { color: #000000;}
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e > li.normal > a { background-color: transparent; } #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e > li.normal > a { background-image: none; }
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a, #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a { color: #FFFFFF; }
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a, #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a { background-color: #AFAA1F; }
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul > li.normal > a { color: #FFFFFF; }#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul > li.normal > a { background-image: none; }
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul > li.normal > a { background-color: #AFAA1F; }
		
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.normal:hover > a { color: #FFFFFF; }
		#navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.normal:hover > a { background-color: #AFAA1F; } #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a, #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a, #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.normal:hover > a { background-image: none; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a,
		.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a { color: #FFFFFF; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.selected > a,
		.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li.childselected > a { background-color: transparent; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li:hover > a { color: #FFFFFF; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e li:hover > a { background-color: transparent; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul > li > a { color: #000000; }.mobile-view #navigation-d26d8f63-7188-4aa6-15dc-4eae57cd8d5e ul > li > a { background-color: transparent; }